<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./socket.js"></script>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <title>Chat</title>
</head>

<body>
  <% if(idRoom){ %>
  <div class=idRoom>
    <p id="textIdRoom">IdRoom:<%=idRoom%></p>
  </div>
  <button type="button" id="btn-chat" name="btn-chat">Chat</button><br>
  <button type="button" id="btn-signOut" name="btn-signOut">Sign Out</button>
  <% } else {%>
  <div class=idRoom>
    <p>IdRoom:</p>
  </div>
  <% } %>
  <div class="container-messenger">
    <div class="name">
      <% if(name){ %>
      <h2 class="name-display" style="color:#ffffff;"> <%=name%></h2>
      <% }  %>
      <% if(photo){ %>
      <h2 name='textId' class="idRoom-display"></h2>
      <img src='<%=photo%>' id="avatar" width="50px" height="50px" alt="logo-avatar">
      <% } else {%>
      <img src='./image/icons8-facebook-messenger-50.png' id="avatar" width="50px" height="50px" alt="logo-avatar">
      <%  } %>
    </div>
    <div class="main-list">

      <%if(typeof items !==undefined && name){%>
      <div class="messages">
        <% items.forEach(function(item){ %>
        <% if(item.name.localeCompare(name)==0){ %>
        <div class="left-message"><%=item.content%><br><small><%=item.name%></small></div>
        <% }else {%>
        <div class="right-message"><%=item.content%><br><small><%=item.name%></small></div>
        <% }%>
        <% }) %>
      </div>
      <% } else {%>
      <div class="messages">
        <!--  <div class="left-message">Hello,im rin real<br><small>user1</small></div>
      <div class="left-message">Hello,im rin real<br><small>user1</small></div>
      <div class="right-message">Hello,im rin real<br><small>user2</small></div>
        <div class="right-message">Hi,i la rin ctk42,i la rin ctk42<br><small>user2</small></div>
          <div class="right-message">Hi,i la rin ctk42,i la rin ctk42<br><small>user2</small></div> -->
        <!--this container content -->
      </div>
      <% }%>
    </div>
    <div class="send_content">
      <input id="input-text" type="text" name="content" placeholder="enter your message">

      <img src="./image/icons8-arrow-48.png" id="img-send" width="38px" height="38px" alt="send_content">
    </div>

  </div>
</body>

</html>
